# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache files
__pycache__/
**/__pycache__/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# OS/editor junk
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

#folder
weights/
results/
weights/
results/
complete_auditor_best.pth
batch_results.csv
vocab.json
sneak_prompt.json
test/
test_normal.png

sdxl.py
test.py